{% extends 'new/base.html' %}
{% load static %}

{% block content %}
<body>
    <div>
		<div style="background-color: #e9ecef;">
		    <a class="navbar-brand text-dark" style="margin-left: 30px;" href="{% url 'details_all' %}">All</a>
		    <a class="navbar-brand text-dark" style="margin-left: 10px;" href="{% url 'details_last' %}">Last</a>
	    </div>
        <br>
        <center>
        <div class="feed_table">
            <table class="table" border="default" style="table-layout: fixed;">
            <tr>
                <th>Engine_Size</th><th>Cylinders</th><th>Transmission</th>
                <th>Fuel_Type</th><th>FC_City</th><th>FC_Hwy</th>
                <th>FC_Comb_km</th>
                <th>FC_Comb_mpg</th><th>CO2_Emission_Rating</th>
            </tr>
                <tr>
                    <td>{{model.Engine_Size}}</td><td>{{model.Cylinders}}</td>
                    <td>{{model.Transmission}}</td><td>{{model.Fuel_Type}}</td>
                    <td>{{model.FC_City}}</td><td>{{model.FC_Hwy}}</td>
                    <td>{{model.FC_Comb_km}}</td><td>{{model.FC_Comb_mpg}}</td>
                    <td>{{model.CO2_Emission_Rating}}</td>
                </tr>    
            </table>
        </div>
        </center>
        <br><br>
        <div>
        <center>
            <form action="{% url 'details_last' %}" method="POST">
                {% csrf_token %}
                {% for f in form %}
                <p>
                    {{ f.label_tag }}<br>
                    {{ f }}
                    
                </p>
                {% endfor %}
                <br>
            
                {% if not msg %}
                    <input type="submit">
                {% else %}
                    {{msg}}
                {% endif %}
            
            </form>
        </center>
        </div>
        
        
{% endblock content %}
</body>
</html>